button {
    padding:10px 20px;
    font-size:1.1vw;
    width:60%;
    max-width:250px;
    background:red;
    color:white;
    border:none;
    border-radius:9px;
    font-family: 'Cinzel', serif;
    letter-spacing: 0px;
    border-color: black;
    cursor:pointer;
    transition: transform 0.3s;
}

button:hover{
    transform: scale(1.2);
}